@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

:root {
  --prime-white: #fff;
  --prime-gold: #ddc375;
  --prime-green: #123733;
}

body {
  font-family: "Oswald";
}

/**********NAVBAR**********/


.navbar {
  background-color: var(--prime-green) !important;
}

nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--prime-white) !important;
  border-bottom: 0.2rem solid var(--prime-green);;
}

.navbar-brand {
  color: var(--prime-gold) !important;
  letter-spacing: 0.1375rem;
  max-width: 17.25rem;
  padding: 0 !important;
  vertical-align: middle;
}

.navbar > li > a.active, .navbar-nav > li > a.active:focus{
  border-bottom: 0.2rem solid var(--prime-gold);
}

.navbar-nav > li > a:hover{
  border-bottom: 0.2rem solid var(--prime-gold);
}

/**********HEADER**********/

.header-wraper{
  position: relative;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.typed-text{
  max-width: 45rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: var(--prime-gold);
}

/**********ABOUT ME**********/

.profile-img{
  width: 22rem;
  padding: 0.2rem;
  border-radius: 20%;
  border: 1px solid var(--prime-gold);
}

.photo-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-bg{
  background-color: var(--prime-green);
  font-family: "Oswald";
  font-size: 1.1rem;
  letter-spacing: 0.0375rem;
}

.about{
  color: var(--prime-gold);
  text-transform: uppercase;
  text-decoration: underline;
}

.aboutme-par{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--prime-gold);
  line-height: 1.5;
}

.about-block{
  margin-top: 2.5rem;
}

/**********EDUCATION**********/

.edu-title{
  color: var(--prime-gold);
  text-decoration: underline;
  justify-content: center;
  align-items: center;
  display: flex;
  letter-spacing: 0.0375rem;
}

.education{
  background-color: var(--prime-green);
  font-family: "Oswald";
}

.edu-details{
  background-color: #091d1b;
  max-width: 50rem;
  color: var(--prime-gold);
  padding: 0.625rem;
  margin: 0 auto;
  border-radius: 1.563rem;
}



.edu-program{
  display: flex;
}

.edu-years{
  margin-left: auto;
  order: 2;
}

/**********SKILS**********/

.skills{
  background-color: black;
  font-family: "Oswald";
}

.skills-title{
  color: var(--prime-gold);
  justify-content: center;
  align-items: center;
  display: flex;
  letter-spacing: 0.0375rem;
}

.skills-list{
  display: block;
  max-width: 50rem;
  margin: 0 auto;
}

.skills-list li{
  color: var(--prime-gold);
  display: inline-block;
  font-size: 1.5rem;
  background-color: #091d1b;
  margin: 0.625rem;
  padding: 0.625rem 1.25rem;
  border-radius: 1.563rem;
}

/**********PROJECTS**********/

.projects{
  background-color: black;
  font-family: "Oswald";
  color: var(--prime-gold);
  letter-spacing: 0.0375rem;
  line-height: 1.7;
}

.projects-content{
  background: #091d1b;
  padding: 0.625rem;
  border-radius: 1rem;
  font-size: 1rem;
}

