@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

:root {
  --prime-white: #fff;
  --prime-gold: #ddc375;
  --prime-green: #123733;
}

body {
  font-family: "Oswald";
}

.navbar {
  background-color: var(--prime-green) !important;
}

nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--prime-white) !important;
  border-bottom: 0.2rem solid var(--prime-green);;
}

.navbar-brand {
  color: var(--prime-gold) !important;
  letter-spacing: 0.1375rem;
  max-width: 17.25rem;
  padding: 0 !important;
  vertical-align: middle;
}

.navbar > li > a.active, .navbar-nav > li > a.active:focus{
  border-bottom: 0.2rem solid var(--prime-gold);
}

.navbar-nav > li > a:hover{
  border-bottom: 0.2rem solid var(--prime-gold);
}